 
 .Banner{
      
     background-size:cover;
     background-repeat: no-repeat;
     height: 600px;
     color: white;
 }
 .content{
     font-size: 15px; 
    padding: 200px 0px 0px 65px;
    max-height:-webkit-fill-available;;
    height: -webkit-fill-available;
    width: 40%;
    max-width: 35%;
    background-image: linear-gradient(to left,transparent 1%, #181818 35%);
}
.dics1,.disc2{
     color: white;
     margin-top: 20px;
}
.name1{
    margin-top: 10px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 16px;}
.log{
    width: 450px;
    height: 192px;
    cursor: pointer;
}
span{
    
    color:#a3a3a3;    
}
.btn{
    margin-top: 20px;
    margin-bottom: 20px;;
    background-color: transparent;
    color: #fff;
    padding: 7px;
    margin-right: 4px;
    border: none;
    height: 33px;
    width: 75px;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
}
.dicsd{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn:hover{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;;
    background-color: #f11a1a;
    color: #fff;
    padding: 7px;
    margin-right: 4px;
    border: none;
    height: 33px;
    width: 75px;
    border-radius: 3px;
    
}